{{ if .Site.Params.Featured }}
<!-- Our mission section -->
<div class="relative my-4">
    <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8">
        <div class="relative sm:py-8 lg:py-0">
            <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
                <svg class="absolute -ml-3 top-8 left-1/2 lg:-right-8 lg:left-auto lg:top-12" width="404"
                        height="392" fill="none" viewBox="0 0 404 392" loading="lazy">
                    <defs>
                        <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20"
                                    patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200 dark:text-gray-900/60"
                                    fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)" />
                </svg>
            </div>
            <div class="relative max-w-md px-4 py-6 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">
                <div class="relative pt-64 pb-10 overflow-hidden shadow-xl rounded-2xl">
                    {{ $p1image := resources.Get .Site.Params.Featured.Image }}
                    {{ with $p1image }}
                    {{ with .Resize (printf "%dx%d webp q90" .Width .Height) }}
                    <img imgh src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"
                            class="absolute inset-0 object-cover w-full h-full" alt="P1"
                            loading="lazy" />
                    {{ end }}>
                    {{ end }}
                </div>
            </div>
        </div>

        <div class="relative max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:px-0">
            <!-- Content area -->
            <div class="md:pt-12 sm:pt-6 lg:pt-20">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-50 sm:text-4xl">
                    {{ .Site.Params.Featured.Heading }}
                </h2>
                <div class="mt-6 space-y-6 text-gray-900 dark:text-white">
                    {{ range .Site.Params.Featured.Content }}
                    <p class="pb-6 mt-6 text-lg text-gray-900 dark:text-white">
                        {{ .text }}
                    </p>
                    {{ end }}
                </div>
                {{ range .Site.Params.Featured.Links }}
                <div class="my-6">
                    <a href="{{ .url }}" class="text-base font-medium text-primary-400 dark:text-primary-100">
                        {{ .text }}&nbsp&rarr;
                    </a>
                </div>
                {{ end }}    

            </div>
        </div>
    </div>
</div>
{{ end }}