<!DOCTYPE html>
<html lang="{{ .Language.Lang }}" dir="{{ default `ltr` .Language.LanguageDirection }}">
  <head>
    {{- block "head" . -}}
      {{- partial "head/title" . -}}
      {{- partial "head/favicon" . -}}
    {{ end }}
    {{- block "meta" . }}
        {{- partial "head/meta" . -}}
    {{ end }}
    {{- partial "head/styles" . -}}
    {{- partial "head/scripts" . -}}
    {{- define "styles" }}<!-- Your custom CSS goes here -->{{ end }} 
    {{- define "scripts" }}<!-- Your custom scripts goes here -->{{ end }}
  </head>
  <body class="{{- ( or .Params.bodyClass $.Site.Params.Styles.bodyClass ) -}}">    
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    <main class="main">
        {{ block "main" . }}{{ partial "main.html" . }}{{ end }}
    </main>
    {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
  </body>
</html>
